@import "../../vars.css";

.mainContainer{
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}

.headLine{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: large;
    font-weight: 600;
}